header{
    background: #BBBBBB;
    padding: 20px 0;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display:inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color:blue;
    text-decoration: underline;
}
.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos li:hover{
    border-color: #C78C19;
}

.produtos li:active{
    border-color: green;
}

.produtos li:hover h2{
    font-size:34px;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align:top;
    /*background: #CCCCCC;*/
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    /*trabalhando com borda nas listas*/
    /*temos tamanho, tipo e cor*/
    /*
    border-color: black;
    border-width: 2px;
    border-style: solid;*/

    /*podemos fazer as 3 coisa em uma*/
    border: black 2px solid;
    border-radius: 10px;

}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.descricao{
    font-size: 18px;
}
.preco{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}
footer{
    text-align: center;
    background: url(bg.jpg);
    padding: 40px 0;
}

.copy{
   color: #FFFFFF;
   font-size: 15px;
   margin: 20px 0 0; 
}


main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0 ;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background: orange;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}

.enviar:hover{
    background: black;
    transform: scale(1.2);
    /*a título de informação
    podemos rotacionar fazendoi
    transform: rotate(10deg)

    e para fazer as duas coisas de uma vez só podemos fazer

    transform: rotate(10deg) scale(1.2); tudo numa linha só.
    */

}

table{
    margin: 20px 0 40px;
}
thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid #000000;
    padding: 8px 15px;

}

/*css da página inicial*/
.banner{
    width: 100%;
}


.titulo-secundario{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.main p{
    margin: 0 0 1em;
}

.main strong{
    font-weight: bold;
}

.main em{
    font-style: italic;
}

.imgbeneficios{
    width: 60%;
}

.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}